.hand-vertical {
    list-style-type: none;
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 95px;
}

.hand-vertical li {
    margin-top: -55px;
}

.hand-vertical li:first-child {
    margin-top: 0;
}

.hand {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-top: -10px;
    line-height: 0;
    height: 105px;
}

.hand li {
    display: inline-block;
    margin-left: -55px;
    position: relative;
}

.hand.selectable li:hover::before {
    content: '';
    display: block;
    width: 70px;
    height: 95px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    opacity: 0.2;
}

.hand li:first-child {
    margin-left: 0;
}

.hand li.selected {
    top: -10px;
}

.playArea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 130px;
    height: 160px;
    margin: auto;
}

#queueLoadingLabel {
    display: none;
}

#gameView {
    display: none;
}


.leftSide {
    text-align: center;
    float: left;
}

.leftSide .hand-vertical {
    transform: rotate(180deg);
    transform-origin: 47.5px 50%;
}

.rightSide {
    text-align: center;
    float: right;
}

.rightSide .hand-vertical {
    margin-left: auto;
    margin-right: 0;
}

.acrossSide {
    text-align: center;
}

.acrossSide .hand {
    text-align: center;
}

.table {
    overflow: auto;
    background-color: #009900;
    border: 4px solid #008800;
    box-shadow: 0 0 10px 0 #000000;
    padding: 10px;
    color: #ffffff;
}

.info-panel {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 300px;
}

.yourSide {
    text-align: center;
    margin-top: -42px;
}

.actionPanel {
    margin-top: 10px;
}

.midStrip {
    height: 280px;
    position: relative;
}

.grayed-out {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    color: #CCCCCC;
}

.game-infobox {
    color: #ddd;
    background-color: #008800;
    border-radius: 4px;
    border: 1px solid #007700;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0 0 10px #007700;
}

.error-panel {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.game-alertbox {
    color: #ddd;
    background-color: #880000;
    border-radius: 4px;
    border: 1px solid #770000;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0 0 10px #770000;
}
