<h1>Hearts Game</h1>

<div class="table" data-bind="css: { 'grayed-out': tableGrayedOut }">
    <div class="acrossSide" data-bind="css: { 'grayed-out': !acrossPlayerIsConnected() }">
        <span data-bind="text: acrossPlayerName"></span>
        <span data-bind="text: acrossPlayerRoundScore"></span>
        (<span data-bind="text: acrossPlayerTotalScore"></span>)
        <ul class="hand" data-bind="foreach: new Array(acrossPlayerCardCount())">
            <li class="card card-back"></li>
        </ul>
    </div>

    <div class="midStrip">
        <div class="leftSide" data-bind="css: { 'grayed-out': !leftPlayerIsConnected() }">
            <span data-bind="text: leftPlayerName"></span>
            <span data-bind="text: leftPlayerRoundScore"></span>
            (<span data-bind="text: leftPlayerTotalScore"></span>)
            <ul class="hand-vertical" data-bind="foreach: new Array(leftPlayerCardCount())">
                <li class="card-h card-back-h"></li>
            </ul>
        </div>

        <div class="rightSide" data-bind="css: { 'grayed-out': !rightPlayerIsConnected() }">
            <span data-bind="text: rightPlayerName"></span>
            <span data-bind="text: rightPlayerRoundScore"></span>
            (<span data-bind="text: rightPlayerTotalScore"></span>)
            <ul class="hand-vertical" data-bind="foreach: new Array(rightPlayerCardCount())">
                <li class="card-h card-back-h"></li>
            </ul>
        </div>
        <div class="playArea" data-bind="foreach: pile">
            <div class="card" data-bind="css: 'card-' + position + ' card-' + card"></div>
        </div>
    </div>

    <div class="yourSide" data-bind="css: { 'grayed-out': !playerIsConnected() }">
        <span data-bind="text: playerName"></span>
        <span data-bind="text: ourRoundScore"></span>
        (<span data-bind="text: ourTotalScore"></span>)
        <ul class="hand" data-bind="foreach: hand, css { selectable: handIsSelectable }">
            <li data-bind="attr: { class: 'card card-' + $data }, css: { selected: $parent.selectedCards.indexOf($data) !== -1 }, click: $parent.clickCard"></li>
        </ul>
        <div class="right-panel">
            <button class="btn btn-primary" data-bind="click: passCards, enable: passEnabled, visible: passAvailable">Pass Cards</button>
        </div>
    </div>
</div>

<div class="info-panel">
    <div class="alert alert-info" role="alert" data-bind="visible: statusMessage() !== null, text: statusMessage">Blah</div>
    <div class="alert alert-danger" role="alert" data-bind="visible: errorMessage() !== null, text: errorMessage">Blah</div>
</div>
