<h1>Hearts Game</h1>

<p>Players:</p>
<ul data-bind="foreach: players">
    <li data-bind="text: $data"></li>
</ul>

<h2>Cards Played</h2>

<div class="playArea" data-bind="foreach: pile">
    <div class="card" data-bind="css: 'card-' + position + ' card-' + card"></div>
</div>

<h2>Your Hand</h2>
<ul class="hand" data-bind="foreach: hand">
    <li data-bind="attr: { class: 'card card-' + $data }, css: { selected: $parent.selectedCards.indexOf($data) !== -1 }, click: $parent.clickCard"></li>
</ul>

<button data-bind="click: passCards, enable: passEnabled, visible: passAvailable">Pass</button>
