
<div class="row">

    <div class="col-sm-6 col-sm-push-3">
        <h1>Hearts</h1>

        <p>Play with strangers!</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <form data-bind="submit: queue">
                    <div class="alert alert-danger" data-bind="text: errorMessage, visible: errorMessage() !== null"></div>
                    <div class="form-group">
                        <label for="playerNameInput" class="control-label">Name</label>
                        <input type="text" id="playerNameInput" class="form-control" maxlength="20" data-bind="value: name, enable: queueFormEnabled" />
                    </div>
                    <div class="form-group">
                        <label for="playerPassswordInput" class="control-label">Password (optional)</label>
                        <input type="password" id="playerPassswordInput" class="form-control" maxlength="50" data-bind="value: password, enable: queueFormEnabled" />
                        <p class="help-block">
                            Providing a password allows you to rejoin the game
                            if you lose connection.
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary" data-bind="text: queueButtonLabel, enable: queueFormEnabled">Queue for Game</button>
                </form>
            </div>
        </div>
    </div>
</div>
